[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# git
pre-commit = "*"
# Format and lint
black = "*"
flake8 = "*"
pep8-naming = "*"
# Render
pprintpp = "*"
holoviews = "*"
datashader = "*"
bokeh = "*"
panel = ">=1.0.1"
# Jupyter notebook
ipykernel = "*"
notebook = "*"
# Data science
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
# tensorflow = "*"
# torch  = "*"
# torchvision  = "*"
# torchaudio = "*"
# Database
sqlalchemy = "*"
pymysql = "*"
mysql-connector-python = "*"
# Test
pytest = "*"
# Other
jsonschema = "*"
atpthings = "*"
apscheduler = "*"
aiofiles = "*"
xlsxwriter = "*"
molmass = {extras = ["all"], version = "*"}
pydantic = "*"
pyarrow = "*"
h5py = "*"
azure-storage-blob = "*"
aiohttp = "*"
fastapi = "*"
beautifulsoup4 = "*"
lxml = "*"
openpyxl = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
frontend_dev = "panel serve frontend/index.py --websocket-max-message-size 1048576000 --address 0.0.0.0 --allow-websocket-origin='*'"
frontend_prod = "panel serve frontend/index.py --websocket-max-message-size 1048576000 --address 0.0.0.0 --allow-websocket-origin='*'"
